.viewport {
    padding-left: 250px;
}
  
.content {
    width: 100%;
    position: relative;
    margin-right: 0;
}

.profile-img {
    height: 40px;
    height: 40px;
    background-color: #325668;
    border-radius: 50%;
}

.bold {
    font-weight: bold;
}

.cadastro {
    max-width: 800px;
}

.botaoCadastro {
    width: 100px;
}

.visualizar {
    max-width: 800px;
}

.paginaNaoEncontrada {
    height: calc(100vh - 100px);
}

.iconePaginaNaoEncontrada {
    font-size: 3rem;
}