<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="headfile.html :: head(${pageTitle})">
    </head>

    <body>
        <div th:replace="base"></div>
        <div class="viewport">
            <div class="container-fluid d-flex flex-column justify-content-center align-items-center">
                <p class="fs-2 text">Procure Grupos Para Atividades Físicas</p>
                <img th:src="@{img/group_running.png}" height="500"/>
            </div>
        </div>
    </body>

</html>